.webcamera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* ajustez la hauteur selon vos besoins */
}

.webcamera-container button {
  margin-top: 10px; /* ajustez la marge supérieure selon vos besoins */
}

.webcamera-container img {
  margin-top: 10px; /* ajustez la marge supérieure selon vos besoins */
}